NET "CLK50" LOC = P123;
NET "CLK50" IOSTANDARD = LVTTL;

NET "COMM_CSA" LOC = P51;
NET "COMM_CSA" IOSTANDARD = LVTTL;
NET "COMM_CSD" LOC = P50;
NET "COMM_CSD" IOSTANDARD = LVTTL;
NET "COMM_SDO" LOC = P48;
NET "COMM_SDO" IOSTANDARD = LVTTL;
NET "COMM_SDI" LOC = P47;
NET "COMM_SDI" IOSTANDARD = LVTTL;
NET "COMM_SCK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "COMM_SCK" LOC = P46;
NET "COMM_SCK" IOSTANDARD = LVTTL;
NET "COMM_READY" LOC = P38;
NET "COMM_READY" IOSTANDARD = LVTTL;

NET "VGA_B[0]" LOC = P67;
NET "VGA_B[0]" IOSTANDARD = LVTTL;
NET "VGA_B[1]" LOC = P66;
NET "VGA_B[1]" IOSTANDARD = LVTTL;
NET "VGA_B[2]" LOC = P64;
NET "VGA_B[2]" IOSTANDARD = LVTTL;
NET "VGA_B[3]" LOC = P62;
NET "VGA_B[3]" IOSTANDARD = LVTTL;
NET "VGA_G[0]" LOC = P79;
NET "VGA_G[0]" IOSTANDARD = LVTTL;
NET "VGA_G[1]" LOC = P78;
NET "VGA_G[1]" IOSTANDARD = LVTTL;
NET "VGA_G[2]" LOC = P75;
NET "VGA_G[2]" IOSTANDARD = LVTTL;
NET "VGA_G[3]" LOC = P74;
NET "VGA_G[3]" IOSTANDARD = LVTTL;
NET "VGA_R[0]" LOC = P83;
NET "VGA_R[0]" IOSTANDARD = LVTTL;
NET "VGA_R[1]" LOC = P82;
NET "VGA_R[1]" IOSTANDARD = LVTTL;
NET "VGA_R[2]" LOC = P81;
NET "VGA_R[2]" IOSTANDARD = LVTTL;
NET "VGA_R[3]" LOC = P80;
NET "VGA_R[3]" IOSTANDARD = LVTTL;
NET "VGA_VSYNC" LOC = P61;
NET "VGA_VSYNC" IOSTANDARD = LVTTL;
NET "VGA_HSYNC" LOC = P59;
NET "VGA_HSYNC" IOSTANDARD = LVTTL;

NET "SRAM_A[0]" LOC = P21;
NET "SRAM_A[0]" IOSTANDARD = LVTTL;
NET "SRAM_A[1]" LOC = P17;
NET "SRAM_A[1]" IOSTANDARD = LVTTL;
NET "SRAM_A[2]" LOC = P16;
NET "SRAM_A[2]" IOSTANDARD = LVTTL;
NET "SRAM_A[3]" LOC = P15;
NET "SRAM_A[3]" IOSTANDARD = LVTTL;
NET "SRAM_A[4]" LOC = P14;
NET "SRAM_A[4]" IOSTANDARD = LVTTL;
NET "SRAM_A[5]" LOC = P144;
NET "SRAM_A[5]" IOSTANDARD = LVTTL;
NET "SRAM_A[6]" LOC = P143;
NET "SRAM_A[6]" IOSTANDARD = LVTTL;
NET "SRAM_A[7]" LOC = P142;
NET "SRAM_A[7]" IOSTANDARD = LVTTL;
NET "SRAM_A[8]" LOC = P141;
NET "SRAM_A[8]" IOSTANDARD = LVTTL;
NET "SRAM_A[9]" LOC = P140;
NET "SRAM_A[9]" IOSTANDARD = LVTTL;
NET "SRAM_A[10]" LOC = P124;
NET "SRAM_A[10]" IOSTANDARD = LVTTL;
NET "SRAM_A[11]" LOC = P126;
NET "SRAM_A[11]" IOSTANDARD = LVTTL;
NET "SRAM_A[12]" LOC = P127;
NET "SRAM_A[12]" IOSTANDARD = LVTTL;
NET "SRAM_A[13]" LOC = P131;
NET "SRAM_A[13]" IOSTANDARD = LVTTL;
NET "SRAM_A[14]" LOC = P132;
NET "SRAM_A[14]" IOSTANDARD = LVTTL;
NET "SRAM_A[15]" LOC = P32;
NET "SRAM_A[15]" IOSTANDARD = LVTTL;
NET "SRAM_A[16]" LOC = P33;
NET "SRAM_A[16]" IOSTANDARD = LVTTL;
NET "SRAM_A[17]" LOC = P34;
NET "SRAM_A[17]" IOSTANDARD = LVTTL;
NET "SRAM_A[18]" LOC = P133;
NET "SRAM_A[18]" IOSTANDARD = LVTTL;
NET "SRAM_D[0]" LOC = P11;
NET "SRAM_D[0]" IOSTANDARD = LVTTL;
NET "SRAM_D[1]" LOC = P10;
NET "SRAM_D[1]" IOSTANDARD = LVTTL;
NET "SRAM_D[2]" LOC = P9;
NET "SRAM_D[2]" IOSTANDARD = LVTTL;
NET "SRAM_D[3]" LOC = P8;
NET "SRAM_D[3]" IOSTANDARD = LVTTL;
NET "SRAM_D[4]" LOC = P7;
NET "SRAM_D[4]" IOSTANDARD = LVTTL;
NET "SRAM_D[5]" LOC = P6;
NET "SRAM_D[5]" IOSTANDARD = LVTTL;
NET "SRAM_D[6]" LOC = P5;
NET "SRAM_D[6]" IOSTANDARD = LVTTL;
NET "SRAM_D[7]" LOC = P2;
NET "SRAM_D[7]" IOSTANDARD = LVTTL;
NET "SRAM_D[8]" LOC = P134;
NET "SRAM_D[8]" IOSTANDARD = LVTTL;
NET "SRAM_D[9]" LOC = P137;
NET "SRAM_D[9]" IOSTANDARD = LVTTL;
NET "SRAM_D[10]" LOC = P138;
NET "SRAM_D[10]" IOSTANDARD = LVTTL;
NET "SRAM_D[11]" LOC = P139;
NET "SRAM_D[11]" IOSTANDARD = LVTTL;
NET "SRAM_D[12]" LOC = P22;
NET "SRAM_D[12]" IOSTANDARD = LVTTL;
NET "SRAM_D[13]" LOC = P23;
NET "SRAM_D[13]" IOSTANDARD = LVTTL;
NET "SRAM_D[14]" LOC = P24;
NET "SRAM_D[14]" IOSTANDARD = LVTTL;
NET "SRAM_D[15]" LOC = P26;
NET "SRAM_D[15]" IOSTANDARD = LVTTL;
NET "SRAM_CE0" LOC = P12;
NET "SRAM_CE0" IOSTANDARD = LVTTL;
NET "SRAM_CE1" LOC = P35;
NET "SRAM_CE1" IOSTANDARD = LVTTL;
NET "SRAM_LB" LOC = P27;
NET "SRAM_LB" IOSTANDARD = LVTTL;
NET "SRAM_OE" LOC = P30;
NET "SRAM_OE" IOSTANDARD = LVTTL;
NET "SRAM_UB" LOC = P29;
NET "SRAM_UB" IOSTANDARD = LVTTL;
NET "SRAM_WE" LOC = P1;
NET "SRAM_WE" IOSTANDARD = LVTTL;

#NET "JOY_CLK"     LOC = P119  |  IOSTANDARD = LVTTL;
#NET "JOY_DATA0"   LOC = P120  |  IOSTANDARD = LVTTL;
#NET "JOY_DATA1"   LOC = P121  |  IOSTANDARD = LVTTL;
#NET "JOY_LOAD"    LOC = P118  |  IOSTANDARD = LVTTL;
#NET "KEYB_CLK"    LOC = P58   |  IOSTANDARD = LVTTL;
#NET "KEYB_DATA"   LOC = P57   |  IOSTANDARD = LVTTL;
#NET "MOUSE_CLK"   LOC = P55   |  IOSTANDARD = LVTTL;
#NET "MOUSE_DATA"  LOC = P56   |  IOSTANDARD = LVTTL;
#NET "SOUND_L"     LOC = P84   |  IOSTANDARD = LVTTL;
#NET "SOUND_R"     LOC = P85   |  IOSTANDARD = LVTTL;
#NET "IO[0]" LOC = P117  |  IOSTANDARD = LVTTL;
#NET "IO[1]" LOC = P116  |  IOSTANDARD = LVTTL;
#NET "IO[2]" LOC = P115  |  IOSTANDARD = LVTTL;
#NET "IO[3]" LOC = P114  |  IOSTANDARD = LVTTL;
#NET "IO[4]" LOC = P112  |  IOSTANDARD = LVTTL;
#NET "IO[5]" LOC = P111  |  IOSTANDARD = LVTTL;
#NET "IO[6]" LOC = P105  |  IOSTANDARD = LVTTL;
#NET "IO[7]" LOC = P104  |  IOSTANDARD = LVTTL;
#NET "IO[8]" LOC = P102  |  IOSTANDARD = LVTTL;
#NET "IO[9]" LOC = P101  |  IOSTANDARD = LVTTL;
#NET "IO[10]" LOC = P100  |  IOSTANDARD = LVTTL;
#NET "IO[11]" LOC = P99  |  IOSTANDARD = LVTTL;
#NET "IO[12]" LOC = P98  |  IOSTANDARD = LVTTL;
#NET "IO[13]" LOC = P97  |  IOSTANDARD = LVTTL;
#NET "IO[14]" LOC = P95  |  IOSTANDARD = LVTTL;
#NET "IO[15]" LOC = P94  |  IOSTANDARD = LVTTL;
#NET "IO[16]" LOC = P93  |  IOSTANDARD = LVTTL;
#NET "IO[17]" LOC = P92  |  IOSTANDARD = LVTTL;
#NET "IO[18]" LOC = P88  |  IOSTANDARD = LVTTL;
#NET "IO[19]" LOC = P87  |  IOSTANDARD = LVTTL;
#NET "CCLK" LOC = P70  |  IOSTANDARD = LVTTL;
#NET "COMM[6]" LOC = P45  |  IOSTANDARD = LVTTL;
#NET "COMM[7]" LOC = P44  |  IOSTANDARD = LVTTL;
#NET "COMM[8]" LOC = P43  |  IOSTANDARD = LVTTL;
#NET "COMM[9]" LOC = P41  |  IOSTANDARD = LVTTL;
#NET "COMM[10]" LOC = P40  |  IOSTANDARD = LVTTL;
#NET "DIN" LOC = P65  |  IOSTANDARD = LVTTL;
#NET "INIT_B" LOC = P39  |  IOSTANDARD = LVTTL;
#NET "M0" LOC = P69  |  IOSTANDARD = LVTTL;
#NET "M1" LOC = P60  |  IOSTANDARD = LVTTL;

#################################################################################################
# T E S T
#################################################################################################
#NET "LED" LOC = P112  |IOSTANDARD = LVTTL;
#################################################################################################

#Created by Constraints Editor (xc6slx9-tqg144-3) - 2013/08/28
NET "CLK50" TNM_NET = "CLK50";
TIMESPEC TS_CLK50 = PERIOD "CLK50" 50 MHz HIGH 50 %;


NET "LED1" LOC = P112;
NET "LED2" LOC = P111;
NET "BUTTON1" LOC = P115;
NET "BUTTON2" LOC = P114;


NET "BUTTON1" IOSTANDARD = LVTTL;
NET "BUTTON2" IOSTANDARD = LVTTL;
NET "LED1" IOSTANDARD = LVTTL;
NET "LED2" IOSTANDARD = LVTTL;
