sim/
*.vsd
ise/_ngo/
ise/_xmsgs/
ise/iseconfig/
ise/xlnx_auto_0_xdb/
ise/xst/
ise/*
!ise/*.xise
src/clock/_xmsgs
src/clock/clock
src/clock/tmp
src/rom/_xmsgs
src/rom/rom
src/rom/tmp
src/vram/_xmsgs
src/vram/vram
src/vram/tmp
src/divrom/_xmsgs
src/divrom/divrom
src/divrom/tmp
src/rom/128.*
src/rom/48.*
