card/
ise/_ngo/
ise/_xmsgs/
ise/iseconfig/
ise/xlnx_auto_0_xdb/
ise/xst/
ise/*
!ise/*.xise
src/clock/_xmsgs
src/clock/clock
src/clock/tmp
src/fontrom/_xmsgs
src/fontrom/fontrom
src/fontrom/tmp
src/mapper/_xmsgs
src/mapper/mapper
src/mapper/tmp
src/rom/_xmsgs
src/rom/rom
src/rom/tmp
